@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap&#39;');

$defaultFont   : 'Lato', sans-serif;
/* Default Colors */
$bgGray        : #CCCCCC;
$defaultBlue   : #2D99CC;
$defaultGreen  : #319966;
$defaultRed    : #993332;
$defaultColor  : #9F9C9C;
$jobTitleColor : #CC3399;
$greenColor    : #319966;
/* Default font sizes */
$h1SizeMobile    : 30px;
$h2SizeMobile    : 26px;
$h3SizeMobile    : 20px;
$h4SizeMobile    : 18px;
$defaultFontSizeM : 16px;

$h1SizeDesktop    : 40px;
$h2SizeDesktop    : 30px;
$h3SizeDesktop    : 24px;
$h4SizeDesktop    : 20px;
$defaultFontSizeD : 18px;